$spacing-md: 1rem;
$spacing-xl: 1.875rem;
$spacing-lg: 1.25rem;
$max-width: 75%;

main {
  padding: $spacing-xl $spacing-lg;
  max-width: $max-width;
  margin: 0 auto;
}

.portfolio-section {
  margin-bottom: $spacing-md;
}

.market-section {
  margin-bottom: $spacing-md;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  .cards-container {
    display: flex;
    flex-direction: row;
    gap: $spacing-md;
  }
}

