<div class="current-holdings-container">
    <div class="current-holdings-header">
        <h3>Current Holdings</h3>
    </div>
    <div class="current-holdings-body">
        <table>
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Value</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let holding of currentHoldings">
                    <td class="ticker">{{ holding.instrumentSymbol }}</td>
                    <td class="quantity">{{ holding.quantity }}</td>
                    <td class="price">{{ holding.currentPrice | currency: 'USD': 'symbol': '1.2-2' }}</td>
                    <td class="value">{{ holding.totalValue | currency: 'USD': 'symbol': '1.2-2' }}</td>
                    <td class="action">
                        <button class="sell-button">Sell</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>