header {
  text-align: center;
  margin-bottom: 1.5rem;
  border-bottom: 0.2rem solid #1E2D45;
  padding-bottom: 0.1rem;

  h1 {
    margin: 0;
    color: #9aa1ad;
  }

  p {
    color: #9aa1ad;
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
}

.tabs {
  display: flex;
  gap: 0.5rem;
  max-width: 75%;
  margin: 0 auto;
  padding-top: 0.6rem;
  align-items: center;

  .account-tab {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.3rem 0.625rem;
    text-decoration: none;
    color: #9aa1ad;
    font-weight: 500;
    border-bottom: 0.0625rem solid transparent;
    border-radius: 0.3rem;
    cursor: pointer;

    img {
      width: 1.875rem;
      height: 1.875rem;
      border-radius: 50%;
      padding: 0;
      object-fit: cover;
      flex-shrink: 0;
    }
  }

  .tab {
    padding: 0.3rem 1rem;
    text-decoration: none;
    color: #9aa1ad;
    font-weight: 500;
    border-bottom: 0.0625rem solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      color: #1E2D45;
    }

    &.active {
      border-bottom-color: #1E2D45;
      border: 1px solid #1E2D45;
      border-radius: 0.5rem;
      background-color: #0F1520;
      color: #ffffff;
    }
  }
}
