.container {
  margin: 0 auto;
}

.instruments-table {
  table {
    background-color: #141C2E;
    border: 0.125rem solid #1E2D45;
    border-radius: 0.5rem;
    overflow: hidden;
    
    th {
      color: #62748E;
      font-weight: 800;
      border-bottom: 0.0625rem solid #1E2D45;
    }
    
    td {
      color: #90A1B9;
      border-bottom: 0.0625rem solid #1E2D45;
    }

    .cdk-column-instrumentSymbol {
        color: #FFFFFF;
        font-weight: 600;
    }

    .cdk-column-currentPrice {
        color: #FFFFFF;
        font-weight: 600;
    }

    .positive-change {
      color: #10B981;
      font-weight: 600;
    }

    .negative-change {
      color: #EF4444;
      font-weight: 600;
    }

    .symbol-avatar {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      border-radius: 50%;
      background-color: rgba(43, 127, 255, 0.15);
      border-color: #1E2D45;
      color: #51A2FF;
      text-align: center;
      font-weight: 600;
      margin-right: 0.5rem;
    }
  }
}

main {
  max-width: 75%;
  margin: 0 auto;

  section {
    margin-bottom: 2.5rem;

    h2 {
      color: #3B82F6;
      border-left: 0.25rem solid #3B82F6;
      padding-left: 0.6rem;
    }
    
    p {
      color: #9aa1ad;
      font-size: 1rem;
      margin-top: 0.6rem;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        padding: 0.5rem 0;
        color: #9aa1ad;

        &:before {
          content: "- ";
          color: #3B82F6;
          font-weight: bold;
          margin-right: 0.5rem;
        }
      }
    }
  }
  
}
