.container {
  margin: 0 auto;
}

.instruments-table {
  border: 0.125rem solid #1E2D45;
  margin-top: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #141C2E;
}

main {
  max-width: 75%;
  margin: 0 auto;
}


