<div class="container">
  <main>
    <section class="markets-content">
      <app-asset-type-filter 
        [selectedAssetType]="selectedAssetType"
        [assetTypes]="assetTypes"
        (assetTypeChange)="onAssetTypeChange($event)">
      </app-asset-type-filter>
      
      <div class="instruments-table">
        <app-market-tabs
          [selectedMarket]="selectedMarket"
          [markets]="markets"
          (marketChange)="onMarketChange($event)">
        </app-market-tabs>
        
        <app-instruments-table
          [instruments]="instruments"
          [selectedMarket]="selectedMarket"
          [displayedColumns]="displayedColumns">
        </app-instruments-table>
      </div>
    </section>
  </main>
</div>