.container {
  padding-top: 20px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 40px;
  border-bottom: 3px solid #1E2D45;
  padding-bottom: 20px;

  h1 {
    margin: 0;
    color: #9aa1ad;
  }

  p {
    color: #9aa1ad;
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.tabs {
  display: flex;
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 15px;

  .tab {
    padding: 10px 20px;
    text-decoration: none;
    color: #9aa1ad;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      color: #1E2D45;
    }

    &.active {
      border-bottom-color: #1E2D45;
      border: 1px solid #1E2D45;
      border-radius: 8px;
      background-color: #0F1520;
      color: #ffffff;
    }
  }
}

main {
  max-width: 1350px;
  margin: 0 auto;

  section {
    margin-bottom: 30px;
   

    h2 {
      color: #007bff;
      border-left: 4px solid #007bff;
      padding-left: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        padding: 8px 0;
        color: #9aa1ad;
      }
    }
  }
}
